/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2014, 11:53:58 AM
    Author     : ANH
*/
.notify_char{
	position:absolute;
	top:10px;
	right:17px;
	color:red;
	font-weight:bold;
	opacity:0.7;
}
.no-padding-top{
	padding-top:0px !important;
}

.thumbnail.pull-left.m-l-small.item img {
    height: 130px !important;
    width: 170px !important;
}
.thumbnail.pull-left.m-l-small > span {
    color: red;
    cursor: pointer;
    display: none;
    font-size: 20px;
    margin-left: 5px;
    position: absolute;
}
.thumbnail.pull-left.m-l-small:hover >span{
    display: inline-block !important;
}

/* anh fb + google */

.thumbnail-seo.pull-left-seo.m-l-small-seo.item-seo img {
    height: 130px !important;
    width: 170px !important;
}
.thumbnail-seo.pull-left-seo.m-l-small-seo > span {
    color: red;
    cursor: pointer;
    display: none;
    font-size: 20px;
    margin-left: 5px;
    position: absolute;
    top: 5px;
}
.thumbnail-seo.pull-left-seo.m-l-small-seo:hover >span{
    display: inline-block !important;
}

/* anh tin tuc */

.thumbnail-news.pull-left-news.m-l-small-news.item-news img {
    height: 130px !important;
    width: 170px !important;
}
.thumbnail-news.pull-left-news.m-l-small-news > span {
    color: red;
    cursor: pointer;
    display: none;
    font-size: 20px;
    margin-left: 5px;
    position: absolute;
    top: 5px;
}
.thumbnail-news.pull-left-news.m-l-small-news:hover >span{
    display: inline-block !important;
}
.thumbnail1{
    margin:5px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.pull-left1{
    float:left !important;
}
.thumbnail1.pull-left1.m-l-small1:hover >span{
    display: inline-block !important;
}
.thumbnail1.pull-left1.m-l-small1.item1 img {
    height: 150px !important;
    width: 150px !important;
}
.thumbnail1.pull-left1.m-l-small1 > span {
    color: red;
    cursor: pointer;
    display: none;
    font-size: 20px;
    position: absolute;
}
.thumbnail1.pull-left1.m-l-small1:hover >span{
    display: inline-block !important;
}

/* autocomplete */
#div_autocomplete_filter{
    width:92%;
}
.div_autocomplete{
    position:absolute;
    z-index: 10000;
    background-color:rgb(240, 248, 255);
    width:100%;
}



.div_autocomplete ul{
    border-radius: 5px;
    padding:5px;
    list-style: none;
    border: 1px solid #000;
}
.div_autocomplete ul li{
    border-bottom: 1px dotted gray;
    word-wrap: break-word;
    padding:15px;
}

.div_autocomplete ul li:hover{
    background-color: #ffffee;
}

.auto_name{
    width:50%;
    word-wrap: break-word;
}
.auto_phone{
    width:50%;
    word-wrap: break-word;
}
.cus_table{
    border:1px dotted gray;
    width:100%;
}
.cus_table tr td,.cus_table tr{
    padding:3px;
    border:1px dotted gray;
}
.cus_table tr:hover{
    background-color: #ffffee;
}
.cus_blue{
    color:blue;
}
.cus_red{
    color:red;
}
@media all and (min-width: 991px) and (max-width: 1176px){
    .book-seat .tick-seat .list-seat,.book-seat .tick-seat img{
        width: 1140px !important;
        overflow-x: scroll;
    }
    .book-seat .tick-seat{
        overflow-x: auto;
    }
}
@media all and (min-width: 768px) and (max-width: 990px){
    .book-seat .tick-seat .list-seat,.book-seat .tick-seat img{
        width: 1140px !important;
        overflow-x: scroll;
    }
    .book-seat .tick-seat{
        overflow-x: auto;
    }
}
@media all and (max-width: 767px){
    .book-seat .tick-seat .list-seat,.book-seat .tick-seat img{
        width: 1140px !important;
        overflow-x: scroll;
    }
    .book-seat .tick-seat{
        overflow-x: auto;
    }
}
.sms_notify{
position:absolute;color:#fff;top:15px;
}