/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2015, 11:12:04 AM
    Author     : tuana_000
*/

.nav-tabs.nav-justified > li {
    display: table-cell !important;
    width: 1% ;
}
.tabs_order li{
    width: 70px  !important;
    white-space: nowrap;
}
.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 5px !important;
    text-align: right;
}
form, .carousel, .form-horizontal .control-group, .nav-tabs, .alert, .panel, .progress, .breadcrumb, .accordion {
    margin-bottom: 0px;
}
.panel {
    border-radius: 0px;   
}
.panel-heading .nav-tabs.pull-left > li:first-child > a, .panel-heading .nav-tabs.nav-justified > li:first-child > a {
    border-radius: 0px 0 0;
}
.form-group {
    margin-bottom: 5px;
}
.line-dashed {
    margin-bottom: 5px;
}
.no-responsive{
    font-size: 12px !important;
}
.form-control {
    font-size: 12px !important;
}
.input-sm, .form-horizontal .form-group-sm .form-control {
    padding: 4px !important;
}
.nav>li>a {
    padding: 5px 8px !important;
    font-weight: bold;
}
.order_head{
    background-color: #218876;
    border: none;
}
.order_head .panel-body{
    padding: 5px 0px;
}
.btn-pubweb{
    color: #fff;
    background-color: #f4c414;
}
.panel-heading, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}
.panel-body {
    padding: 5px;
}
.panel-heading .nav-tabs {
    margin-left: -6px;   
}
.form-horizontal .form-group {
    margin-right:0px;
    margin-left: 0px;
}
.order_div_content{
    width: 100%;
    height: 200px;
}
.order_div_left{
    width: 70%;
    float: left;
}
.order_div_right{
    width: 30%;
    float: left;
    padding-left: 5px;
}
.order_div_right .control_left{
    width: 30%;
    float: left;
    margin-right: 0px;
    text-align: left !important;
    padding-left: 5px;
}
.order_div_right .control_right{
    width: 70%;
    float: left;
}
#customer_info{
    margin-top: 5px;
}
#customer_info .customer_image{
    width: 100px;
    float: left;
}
#customer_info .customer_image img{
    width: 100%;
    height: 130px;
}
#customer_info .customer_info{
    float: left;    
    padding-left: 10px;
}