span.label-success{
    float:left;
}
.list-seat .lock-seat input{    
    background-color: #b4b4b4;
    border: 1px solid #b4b4b4;
}

.name-stage,.grade-1,.grade-2,.grade-3{
    position: absolute;
}
.name-stage p ,.grade-1 p ,.grade-2 p,.grade-3 p{
    margin-bottom: 0px;
}
.grade-1 p ,.grade-2 p,.grade-3 p{
   color: #9b9b9b;
    font-weight: 300;
    font-size: 20px;
}
.grade-1{

top: 77px;

left: 813px;
}
.grade-2{

top: 116px;

left: 813px;
}
.grade-3{
    
top: 150px;
    
left: 813px;
}
.grade-4{
    top: 846px;
    left: 166px;
}
.grade-5{
    top: 902px;
    left: 166px;
}
.grade-6{
    top: 936px;
    left: 166px;
}
.name-stage{
        font-weight: 700;
    text-transform: uppercase;
    color: #5c5b5b;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}
.name-stage-2{
    
top: 810px;
}

.name-stage p{
    font-size:34px;
}
.seat-1 {
    border: 1px solid #e02125 !important;
}

.seat-2 {
    border: 1px solid #0085ac !important;
}

.seat-3 {
    border: 1px solid #cedd79 !important;
}

.widget .book-ticket {
    margin-top: 15px;
    width: 100%;
    display: inline-block;
}

.book-seat .head-book {
    background: #333333;
    text-align: center;
    padding: 10px 0
}

.book-seat .head-book h4 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

.book-seat .info-book {
    background: #f4e685;
    padding: 10px 15px;
    text-align: center;
}

.book-seat .info-book p {
    margin-bottom: 0px;
}

.book-seat .tick-seat img {
    width: 100%;
  
}

.book-seat .info-seat,
.book-seat .tick-seat {
    background: #e6e6e687;
    text-align: center;
}

.book-seat .tick-seat {
    position: relative;
}

.book-seat .tick-seat .list-seat {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    width: 100%;
    height: 962px;
}

.book-seat .info-seat ul {
    margin-bottom: 0px;
    padding: 15px 0;
    display: inline-block;
    text-align: center;
}

.book-seat .info-seat ul li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.book-seat .info-seat ul li:last-child {
    margin-bottom: 0px;
}

.book-seat .info-seat ul li span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: sub;
}

.book-seat .info-seat ul li.list-1 span {
    background: #b11500;
}

.book-seat .info-seat ul li.list-2 span {
    background: #bbb;
}

.book-seat .info-seat ul li.list-3 span {
    background: url(../admin/seat-unvail.png);
}

.book-seat .info-seat ul li.list-4 span {
    background: transparent;
    border: 2px solid #ed546d;
}

.book-seat .info-seat ul li.list-5 span {
    background: transparent;
    border: 2px solid #4687f7;
}

.book-seat .info-seat ul li.list-6 span {
    background: transparent;
    border: 2px solid #7adc52;
}

.book-seat input[type=checkbox] {
    border-radius: 3px !important;
    -webkit-appearance: button;
    border: 1px solid transparent;
    background-color: transparent;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    margin-top: 0px;
}
.book-seat .seat-s input{
    border: 1px solid #ed546d;
}
.book-seat .seat-a  input{
    border: 1px solid #4687f7
}
.book-seat .seat-b input{
    border: 1px solid #7adc52;
}
.book-seat input[type=checkbox]:checked {
    background-color: #b11500;
    border: 1px solid #b11500;
    color: white;
}
.book-seat div.unvail{
    cursor: not-allowed;
}
.book-seat div.unvail input{
    background:url(../admin/seat-unvail.png);
    background-size: 100%;
    border:none;
    cursor: not-allowed;
}
.book-seat div.unvail label{
    opacity: 0;
    visibility: hidden;
    cursor: not-allowed;
}
.book-seat div.unvail input[type=checkbox]:checked{
    border:none;
    background:url(../admin/seat-unvail.png);
    background-size: 100%;
}
.book-seat input[type=checkbox]:checked + label {
    color: white;
}

.book-seat .list-seat .seat {
    position: absolute;
}

.book-seat .list-seat .seat label {
    position: absolute;
    
    margin-bottom: 0px;
    font-size: 8px;
    font-weight: 800;
    cursor: pointer;
    line-height: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.s-1{top:189px;left:324px}.s-2{top:192px;left:346px}.s-3{top:196px;left:369px}.s-4{top:200px;left:391px}.s-5{top:204px;left:414px}.s-6{top:207px;left:437px;6px}.s-7{top:208px;left:481px}.s-8{top:208px;left:504px}.s-9{top:208px;left:526px}.s-10{top:208px;left:549px}.s-11{top:208px;left:571px}.s-12{top:208px;left:594px}.s-13{top:208px;left:617px}.s-14{top:208px;left:639px}.s-15{top:207px;left:683px}.s-16{top:203px;right:414px}.s-17{top:200px;right:391px}.s-18{top:196px;right:369px}.s-19{top:192px;right:346px}.s-20{top:189px;right:323px}.s-21{top:219px;left:312px}.s-22{top:223px;left:335px}.s-23{top:227px;left:358px}.s-24{top:231px;left:380px}.s-25{top:234px;left:403px}.s-26{top:238px;left:425px}.s-27{top:238px;left:470px}.s-28{top:238px;left:492px}.s-29{top:238px;left:515px}.s-30{top:238px;left:537px}.s-31{top:238px;left:560px}.s-32{top:238px;left:583px}.s-33{top:238px;left:605px}.s-34{top:238px;left:628px}.s-35{top:238px;left:650px}.s-36{top:238px;left:694px}.s-37{top:234px;left:717px}.s-38{top:231px;left:740px}.s-39{top:227px;left:762px}.s-40{top:223px;left:785px}.s-41{top:219px;left:808px}.s-42{top:250px;left:301px}.s-43{top:254px;left:324px}.s-44{top:258px;left:346px}.s-45{top:261px;left:369px}.s-46{top:265px;left:391px}.s-47{top:269px;left:414px}.s-48{top:269px;left:458px}.s-49{top:269px;left:481px}.s-50{top:269px;left:504px}.s-51{top:269px;left:526px}.s-52{top:269px;left:549px}.s-53{top:269px;left:571px}.s-54{top:269px;left:594px}.s-55{top:269px;left:617px}.s-56{top:269px;left:639px}.s-57{top:269px;left:662px}.s-58{top:269px;left:706px}.s-59{top:265px;left:729px}.s-60{top:261px;left:751px}.s-61{top:258px;left:774px}.s-62{top:254px;left:796px}.s-63{top:250px;left:819px}.s-64{top:281px;left:290px}.s-65{top:284px;left:313px}.s-66{top:288px;left:335px}.s-67{top:292px;left:358px}.s-68{top:295px;left:380px}.s-69{top:299px;left:403px}.s-70{top:299px;left:447px}.s-71{top:299px;left:470px}.s-72{top:299px;left:492px}.s-73{top:299px;left:515px}.s-74{top:299px;left:537px}.s-75{top:299px;left:560px}.s-76{top:299px;left:583px}.s-77{top:299px;left:605px}.s-78{top:299px;left:628px}.s-79{top:299px;left:650px}.s-80{top:299px;left:673px}.s-81{top:299px;left:717px}.s-82{top:295px;left:740px}.s-83{top:292px;left:762px}.s-84{top:288px;left:785px}.s-85{top:284px;left:808px}.s-86{top:281px;left:830px}.s-87{top:315px;left:301px}.s-88{top:319px;left:324px}.s-89{top:322px;left:347px}.s-90{top:326px;left:369px}.s-91{top:330px;left:392px}.s-92{top:330px;left:436px}.s-93{top:330px;left:458px}.s-94{top:330px;left:481px}.s-95{top:330px;left:504px}.s-96{top:330px;left:526px}.s-97{top:330px;left:549px}.s-98{top:330px;left:571px}.s-99{top:330px;left:594px}.s-100{top:330px;left:617px}.s-101{top:330px;left:639px}.s-102{top:330px;left:662px}.s-103{top:330px;left:684px}.s-104{top:330px;left:728px}.s-105{top:326px;left:751px}.s-106{top:322px;left:773px}.s-107{top:319px;left:796px}.s-108{top:315px;left:819px}.s-109{top:346px;left:290px}.s-110{top:349px;left:313px}.s-111{top:353px;left:335px}.s-112{top:357px;left:358px}.s-113{top:360px;left:381px}.s-114{top:360px;left:424px}.s-115{top:360px;left:447px}.s-116{top:360px;left:470px}.s-117{top:360px;left:492px}.s-118{top:360px;left:515px}.s-119{top:360px;left:537px}.s-120{top:360px;left:560px}.s-121{top:360px;left:583px}.s-122{top:360px;left:605px}.s-123{top:360px;left:628px}.s-124{top:360px;left:650px}.s-125{top:360px;left:673px}.s-126{top:360px;left:696px}.s-127{top:360px;left:739px}.s-128{top:357px;left:762px}.s-129{top:353px;left:785px}.s-130{top:349px;left:807px}.s-131{top:346px;left:830px}.s-132{top:380px;left:301px}.s-133{top:384px;left:324px}.s-134{top:387px;left:347px}.s-135{top:391px;left:369px}.s-136{top:391px;left:413px}.s-137{top:391px;left:436px}.s-138{top:391px;left:458px}.s-139{top:391px;left:481px}.s-140{top:391px;left:504px}.s-141{top:391px;left:526px}.s-142{top:391px;left:549px}.s-143{top:391px;left:571px}.s-144{top:391px;left:594px}.s-145{top:391px;left:617px}.s-146{top:391px;left:639px}.s-147{top:391px;left:662px}.s-148{top:391px;left:684px}.s-149{top:391px;left:707px}.s-150{top:391px;left:751px}.s-151{top:387px;left:773px}.s-152{top:383px;left:796px}.s-153{top:380px;left:819px}.s-154{top:410px;left:290px}.s-155{top:414px;left:313px}.s-156{top:418px;left:335px}.s-157{top:422px;left:358px}.s-158{top:422px;left:402px}.s-159{top:422px;left:424px}.s-160{top:422px;left:447px}.s-161{top:422px;left:470px}.s-162{top:422px;left:492px}.s-163{top:422px;left:515px}.s-164{top:422px;left:537px}.s-165{top:422px;left:560px}.s-166{top:422px;left:583px}.s-167{top:422px;left:605px}.s-168{top:422px;left:628px}.s-169{top:422px;left:650px}.s-170{top:422px;left:673px}.s-171{top:422px;left:696px}.s-172{top:422px;left:718px}.s-173{top:422px;left:762px}.s-174{top:418px;left:784px}.s-175{top:414px;left:807px}.s-176{top:410px;left:830px}.s-177{top:445px;left:302px}.s-178{top:448px;left:324px}.s-179{top:452px;left:347px}.s-180{top:452px;left:390px}.s-181{top:452px;left:413px}.s-182{top:452px;left:436px}.s-183{top:452px;left:458px}.s-184{top:452px;left:481px}.s-185{top:452px;left:504px}.s-186{top:452px;left:526px}.s-187{top:452px;left:549px}.s-188{top:452px;left:571px}.s-189{top:452px;left:594px}.s-190{top:452px;left:617px}.s-191{top:452px;left:639px}.s-192{top:452px;left:662px}.s-193{top:452px;left:684px}.s-194{top:452px;left:707px}.s-195{top:452px;left:730px}.s-196{top:452px;left:773px}.s-197{top:448px;left:796px}.s-198{top:445px;left:819px}.s-199{top:479px;left:313px}.s-200{top:483px;left:336px}.s-201{top:483px;left:379px}.s-202{top:483px;left:402px}.s-203{top:483px;left:424px}.s-204{top:483px;left:447px}.s-205{top:483px;left:470px}.s-206{top:483px;left:492px}.s-207{top:483px;left:515px}.s-208{top:483px;left:537px}.s-209{top:483px;left:560px}.s-210{top:483px;left:583px}.s-211{top:483px;left:605px}.s-212{top:483px;left:628px}.s-213{top:483px;left:650px}.s-214{top:483px;left:673px}.s-215{top:483px;left:696px}.s-216{top:483px;left:718px}.s-217{top:483px;left:741px}.s-218{top:483px;left:784px}.s-219{top:479px;left:807px}.s-220{top:513px;left:368px}.s-221{top:513px;left:391px}.s-222{top:513px;left:413px}.s-223{top:513px;left:436px}.s-224{top:513px;left:458px}.s-225{top:513px;left:481px}.s-226{top:513px;left:504px}.s-227{top:513px;left:526px}.s-228{top:513px;left:549px}.s-229{top:513px;left:571px}.s-230{top:513px;left:594px}.s-231{top:513px;left:617px}.s-232{top:513px;left:639px}.s-233{top:513px;left:662px}.s-234{top:513px;left:684px}.s-235{top:513px;left:707px}.s-236{top:513px;left:730px}.s-237{top:513px;left:752px}.s-238{top:544px;left:379px}.s-239{top:544px;left:402px}.s-240{top:544px;left:424px}.s-241{top:544px;left:447px}.s-242{top:544px;left:470px}.s-243{top:544px;left:492px}.s-244{top:544px;left:515px}.s-245{top:544px;left:537px}.s-246{top:544px;left:560px}.s-247{top:544px;left:583px}.s-248{top:544px;left:605px}.s-249{top:544px;left:628px}.s-250{top:544px;left:650px}.s-251{top:544px;left:673px}.s-252{top:544px;left:696px}.s-253{top:544px;left:719px}.s-254{top:544px;left:741px}.s-255{top:594px;left:379px}.s-256{top:598px;left:402px}.s-257{top:602px;left:424px}.s-258{top:606px;left:447px}.s-259{top:609px;left:470px}.s-260{top:613px;left:492px}.s-261{top:617px;left:514px}.s-262{top:617px;left:605px}.s-263{top:613px;left:628px}.s-264{top:609px;left:650px}.s-265{top:606px;left:673px}.s-266{top:602px;left:696px}.s-267{top:598px;left:718px}.s-268{top:595px;left:741px}.s-269{top:625px;left:379px}.s-270{top:629px;left:402px}.s-271{top:633px;left:424px}.s-272{top:636px;left:447px}.s-273{top:640px;left:470px}.s-274{top:644px;left:492px}.s-275{top:647px;left:515px}.s-276{top:647px;left:605px}.s-277{top:644px;left:628px}.s-278{top:640px;left:650px}.s-279{top:636px;left:673px}.s-280{top:633px;left:696px}.s-281{top:629px;left:718px}.s-282{top:625px;left:741px}.s-283{top:690px;left:356px}.s-284{top:690px;left:379px}.s-285{top:690px;left:402px}.s-286{top:690px;left:424px}.s-287{top:690px;left:447px}.s-288{top:690px;left:470px}.s-289{top:690px;left:492px}.s-290{top:690px;left:515px}.s-291{top:690px;left:538px}.s-292{top:690px;left:560px}.s-293{top:690px;left:583px}.s-294{top:690px;left:605px}.s-295{top:690px;left:628px}.s-296{top:690px;left:650px}.s-297{top:690px;left:673px}.s-298{top:690px;left:696px}.s-299{top:690px;left:718px}.s-300{top:690px;left:741px}.s-301{top:690px;left:763px}.s-302{top:721px;left:368px}.s-303{top:721px;left:391px}.s-304{top:721px;left:413px}.s-305{top:721px;left:436px}.s-306{top:721px;left:458px}.s-307{top:721px;left:481px}.s-308{top:721px;left:503px}.s-309{top:721px;left:526px}.s-310{top:721px;left:549px}.s-311{top:721px;left:571px}.s-312{top:721px;left:594px}.s-313{top:721px;left:617px}.s-314{top:721px;left:639px}.s-315{top:721px;left:662px}.s-316{top:721px;left:684px}.s-317{top:721px;left:707px}.s-318{top:721px;left:730px}.s-319{top:721px;left:752px}.s-320{top:751px;left:379px}.s-321{top:751px;left:424px}.s-322{top:751px;left:469px}.s-323{top:751px;left:515px}.s-324{top:751px;left:549px}.s-325{top:751px;left:571px}.s-326{top:751px;left:605px}.s-327{top:751px;left:650px}.s-328{top:751px;left:696px}.s-329{top:751px;left:741px}.s-330{top:782px;left:357px}.s-331{top:782px;left:379px}.s-332{top:782px;left:402px}.s-333{top:782px;left:424px}.s-334{top:782px;left:447px}.s-335{top:782px;left:469px}.s-336{top:782px;left:492px}.s-337{top:782px;left:515px}.s-338{top:782px;left:537px}.s-339{top:782px;left:560px}.s-340{top:782px;left:583px}.s-341{top:782px;left:605px}.s-342{top:782px;left:628px}.s-343{top:782px;left:650px}.s-344{top:782px;left:673px}.s-345{top:782px;left:696px}.s-346{top:782px;left:718px}.s-347{top:782px;left:741px}.s-348{top:782px;left:763px}.s-349{top:751px;left:402px}
.s-350{top:751px;left:492px}.s-351{top:751px;left:447px}.s-352{top:812px;left:470px}.s-353{top:812px;left:492px}.s-354{top:812px;left:515px}.s-355{top:812px;left:537px}.s-356{top:812px;left:560px}.s-357{top:812px;left:583px}.s-358{top:812px;left:605px}.s-359{top:812px;left:628px}.s-360{top:751px;left:673px}.s-361{top:751px;left:628px}.s-362{top:751px;left:718px}.s-363{top:812px;left:718px}.s-364{top:22px;left:181px;transform:rotate(-22deg)}.s-365{top:47px;left:181px;transform:rotate(-22deg)}.s-366{top:47px;left:155px;transform:rotate(-22deg)}.s-367{top:22px;right:181px;transform:rotate(22deg)}.s-368{top:47px;right:181px;transform:rotate(22deg)}.s-369{top:47px;right:155px;transform:rotate(22deg)}.s-370{tate(--22deg);top:221px;left:181px;transform:rotate(-22deg)}.s-371{top:246px;left:181px;transform:rotate(-22deg)}.s-372{top:271px;left:181px;transform:rotate(-22deg)}.s-373{top:297px;left:181px;transform:rotate(-22deg)}.s-374{top:322px;left:181px;transform:rotate(-22deg)}.s-375{top:347px;left:181px;transform:rotate(-22deg)}.s-376{top:372px;left:181px;transform:rotate(-22deg)}.s-377{top:398px;left:181px;transform:rotate(-22deg)}.s-378{top:423px;left:181px;transform:rotate(-22deg)}.s-379{top:448px;left:181px;transform:rotate(-22deg)}.s-380{top:473px;left:181px;transform:rotate(-22deg)}.s-381{top:499px;left:181px;transform:rotate(-22deg)}.s-382{top:524px;left:181px;transform:rotate(-22deg)}.s-383{top:549px;left:188px;transform:rotate(-22deg)}.s-384{top:575px;left:195px;transform:rotate(-22deg)}.s-385{top:600px;left:203px;transform:rotate(-22deg)}.s-386{top:625px;left:211px;transform:rotate(-22deg)}.s-387{top:650px;left:225px;transform:rotate(-22deg)}.s-388{top:246px;left:155px;transform:rotate(-22deg)}.s-389{top:271px;left:129px;transform:rotate(-22deg)}.s-390{top:347px;left:129px;transform:rotate(-22deg)}.s-391{top:322px;left:155px;transform:rotate(-22deg)}.s-392{top:398px;left:155px;transform:rotate(-22deg)}.s-393{top:473px;left:155px;transform:rotate(-22deg)}.s-394{top:524px;left:155px;transform:rotate(-22deg)}.s-395{top:574px;left:162px;transform:rotate(-22deg)}.s-396{top:625px;left:177px;transform:rotate(-22deg)}.s-397{top:423px;left:129px;transform:rotate(-22deg)}.s-398{top:499px;left:129px;transform:rotate(-22deg)}.s-399{top:549px;left:129px;transform:rotate(-22deg)}.s-400{top:600px;left:136px;transform:rotate(-22deg)}.s-401{top:650px;left:151px;transform:rotate(-22deg)}.s-402{top:246px;right:155px;transform:rotate(22deg)}.s-403{top:322px;right:155px;transform:rotate(22deg)}.s-404{top:398px;right:155px;transform:rotate(22deg)}.s-405{top:473px;right:155px;transform:rotate(22deg)}.s-406{top:524px;right:155px;transform:rotate(22deg)}.s-407{top:574px;right:162px;transform:rotate(22deg)}.s-408{top:625px;right:177px;transform:rotate(22deg)}.s-409{top:221px;right:181px;transform:rotate(22deg)}.s-410{top:246px;right:181px;transform:rotate(22deg)}.s-411{top:271px;right:181px;transform:rotate(22deg)}.s-412{top:296px;right:181px;transform:rotate(22deg)}.s-413{top:322px;right:181px;transform:rotate(22deg)}.s-414{top:347px;right:181px;transform:rotate(22deg)}.s-415{top:372px;right:181px;transform:rotate(22deg)}.s-416{top:398px;right:181px;transform:rotate(22deg)}.s-417{top:589px;left:302px}.s-418{top:423px;right:181px;transform:rotate(22deg)}.s-419{top:448px;right:181px;transform:rotate(22deg)}.s-420{top:473px;right:181px;transform:rotate(22deg)}.s-421{top:498px;right:181px;transform:rotate(22deg)}.s-422{top:524px;right:181px;transform:rotate(22deg)}.s-423{top:549px;right:189px;transform:rotate(22deg)}.s-424{top:574px;right:196px;transform:rotate(22deg)}.s-425{top:600px;right:203px;transform:rotate(22deg)}.s-426{top:625px;right:210px;transform:rotate(22deg)}.s-427{top:650px;right:226px;transform:rotate(22deg)}.s-428{top:271px;right:129px;transform:rotate(22deg)}.s-429{top:347px;right:129px;transform:rotate(22deg)}.s-430{top:423px;right:129px;transform:rotate(22deg)}.s-431{top:499px;right:129px;transform:rotate(22deg)}.s-432{top:220px;left:229px}.s-433{top:549px;right:129px;transform:rotate(22deg)}.s-434{top:600px;right:137px;transform:rotate(22deg)}.s-435{top:650px;right:152px;transform:rotate(22deg)}.s-436{top:237px;left:251px}.s-437{top:242px;left:229px}.s-438{top:259px;left:251px}.s-439{top:281px;left:229px}.s-440{top:303px;left:229px}.s-441{top:342px;left:229px}.s-442{top:365px;left:229px}.s-443{top:387px;left:229px}.s-444{top:442px;left:229px}.s-445{top:465px;left:229px}.s-446{top:487px;left:229px}.s-447{top:281px;left:251px}.s-448{top:303px;left:251px}.s-449{top:342px;left:251px}.s-450{top:365px;left:251px}.s-451{top:387px;left:251px}.s-452{top:442px;left:251px}.s-453{top:465px;left:251px}.s-454{top:487px;left:251px}.s-455{top:219px;right:228px}.s-456{top:242px;right:228px}.s-457{top:281px;right:228px}.s-458{top:303px;right:228px}.s-459{top:342px;right:228px}.s-460{top:365px;right:228px}.s-461{top:387px;right:228px}.s-462{top:442px;right:228px}.s-463{top:465px;right:228px}.s-464{top:488px;right:228px}.s-465{top:237px;right:251px}.s-466{top:259px;right:251px}.s-467{top:281px;right:251px}.s-468{top:303px;right:251px}.s-469{top:342px;right:251px}.s-470{top:365px;right:251px}.s-471{top:387px;right:251px}.s-472{top:442px;right:251px}.s-473{top:465px;right:251px}.s-474{top:488px;right:251px}.s-475{top:566px;right:257px}.s-476{top:589px;right:257px}.s-477{top:589px;right:280px}.s-478{top:566px;right:280px}.s-479{top:544px;right:280px}.s-480{top:544px;right:302px}.s-481{top:567px;right:302px}.s-482{top:589px;right:302px}.s-483{top:566px;left:257px}.s-484{top:589px;left:257px}.s-485{top:589px;left:280px}.s-486{top:566px;left:280px}.s-487{top:544px;left:280px}.s-488{top:544px;left:302px}.s-489{top:566px;left:302px}.s-490{top:808px;right:192px;transform:rotate(22deg)}.s-491{top:221px;left:74px;transform:rotate(-22deg)}.s-492{top:246px;left:74px;transform:rotate(-22deg)}.s-493{top:271px;left:74px;transform:rotate(-22deg)}.s-494{top:297px;left:74px;transform:rotate(-22deg)}.s-495{top:322px;left:74px;transform:rotate(-22deg)}.s-496{top:347px;left:74px;transform:rotate(-22deg)}.s-497{top:373px;left:74px;transform:rotate(-22deg)}.s-498{top:398px;left:74px;transform:rotate(-22deg)}.s-499{top:423px;left:74px;transform:rotate(-22deg)}.s-500{top:448px;left:74px;transform:rotate(-22deg)}.s-501{top:474px;left:74px;transform:rotate(-22deg)}.s-502{top:499px;left:74px;transform:rotate(-22deg)}.s-503{top:524px;left:74px;transform:rotate(-22deg)}.s-504{top:550px;left:74px;transform:rotate(-22deg)}.s-505{top:575px;left:74px;transform:rotate(-22deg)}.s-506{top:600px;left:81px;transform:rotate(-22deg)}.s-507{top:625px;left:88px;transform:rotate(-22deg)}.s-508{top:246px;left:48px;transform:rotate(-22deg)}.s-509{top:272px;left:48px;transform:rotate(-22deg)}.s-510{top:297px;left:48px;transform:rotate(-22deg)}.s-511{top:322px;left:48px;transform:rotate(-22deg)}.s-512{top:347px;left:48px;transform:rotate(-22deg)}.s-513{top:372px;left:48px;transform:rotate(-22deg)}.s-514{top:398px;left:48px;transform:rotate(-22deg)}.s-515{top:423px;left:48px;transform:rotate(-22deg)}.s-516{top:448px;left:48px;transform:rotate(-22deg)}.s-517{top:473px;left:48px;transform:rotate(-22deg)}.s-518{top:499px;left:48px;transform:rotate(-22deg)}.s-519{top:524px;left:48px;transform:rotate(-22deg)}.s-520{top:550px;left:48px;transform:rotate(-22deg)}.s-521{top:575px;left:48px;transform:rotate(-22deg)}.s-522{top:600px;left:55px;transform:rotate(-22deg)}.s-523{top:625px;left:63px;transform:rotate(-22deg)}.s-524{top:651px;left:70px;transform:rotate(-22deg)}.s-525{top:297px;left:22px;transform:rotate(-22deg)}.s-526{top:322px;left:22px;transform:rotate(-22deg)}.s-527{top:347px;left:22px;transform:rotate(-22deg)}.s-528{top:372px;left:22px;transform:rotate(-22deg)}.s-529{top:398px;left:22px;transform:rotate(-22deg)}.s-530{top:423px;left:22px;transform:rotate(-22deg)}.s-531{top:448px;left:22px;transform:rotate(-22deg)}.s-532{top:474px;left:22px;transform:rotate(-22deg)}.s-533{top:499px;left:22px;transform:rotate(-22deg)}.s-534{top:524px;left:22px;transform:rotate(-22deg)}.s-535{top:550px;left:22px;transform:rotate(-22deg)}.s-536{top:575px;left:22px;transform:rotate(-22deg)}.s-537{top:600px;left:22px;transform:rotate(-22deg)}.s-538{top:625px;left:22px;transform:rotate(-22deg)}.s-539{top:651px;left:22px;transform:rotate(-22deg)}.s-540{top:676px;left:22px;transform:rotate(-22deg)}.s-541{top:701px;left:22px;transform:rotate(-22deg)}.s-542{top:783px;left:200px;transform:rotate(-22deg)}.s-543{top:808px;left:214px;transform:rotate(-22deg)}.s-544{top:886px;left:413px}.s-545{top:886px;left:436px}.s-546{top:886px;left:458px}.s-547{top:886px;left:481px}.s-548{top:886px;left:503px}.s-549{top:886px;left:526px}.s-550{top:886px;left:549px}.s-551{top:886px;left:572px}.s-552{top:886px;left:594px}.s-553{top:886px;left:616px}.s-554{top:886px;left:639px}.s-555{top:886px;left:662px}.s-556{top:886px;left:684px}.s-557{top:886px;left:707px}.s-558{top:886px;left:729px}.s-559{top:916px;left:379px}.s-560{top:916px;left:402px}.s-561{top:916px;left:424px}.s-562{top:916px;left:447px}.s-563{top:916px;left:470px}.s-564{top:916px;left:492px}.s-565{top:916px;left:515px}.s-566{top:916px;left:537px}.s-567{top:916px;left:560px}.s-568{top:916px;left:583px}.s-569{top:916px;left:605px}.s-570{top:916px;left:628px}.s-571{top:916px;left:650px}.s-572{top:916px;left:673px}.s-573{top:916px;left:696px}.s-574{top:916px;left:718px}.s-575{top:916px;left:741px}.s-576{top:916px;left:763px}.s-577{top:221px;right:74px;transform:rotate(22deg)}.s-578{top:246px;right:74px;transform:rotate(22deg)}.s-579{top:271px;right:74px;transform:rotate(22deg)}.s-580{top:297px;right:74px;transform:rotate(22deg)}.s-581{top:322px;right:74px;transform:rotate(22deg)}.s-582{top:347px;right:74px;transform:rotate(22deg)}.s-583{top:372px;right:74px;transform:rotate(22deg)}.s-584{top:398px;right:74px;transform:rotate(22deg)}.s-585{top:423px;right:74px;transform:rotate(22deg)}.s-586{top:448px;right:74px;transform:rotate(22deg)}.s-587{top:473px;right:74px;transform:rotate(22deg)}.s-588{top:499px;right:74px;transform:rotate(22deg)}.s-589{top:524px;right:74px;transform:rotate(22deg)}.s-590{top:549px;right:74px;transform:rotate(22deg)}.s-591{top:575px;right:74px;transform:rotate(22deg)}.s-592{top:600px;right:81px;transform:rotate(22deg)}.s-593{top:625px;right:89px;transform:rotate(22deg)}.s-594{top:246px;right:48px;transform:rotate(22deg)}.s-595{top:271px;right:48px;transform:rotate(22deg)}.s-596{top:297px;right:48px;transform:rotate(22deg)}.s-597{top:322px;right:48px;transform:rotate(22deg)}.s-598{top:347px;right:48px;transform:rotate(22deg)}.s-599{top:372px;right:48px;transform:rotate(22deg)}.s-600{top:398px;right:48px;transform:rotate(22deg)}.s-601{top:423px;right:48px;transform:rotate(22deg)}.s-602{top:448px;right:48px;transform:rotate(22deg)}.s-603{top:474px;right:48px;transform:rotate(22deg)}.s-604{top:499px;right:48px;transform:rotate(22deg)}.s-605{top:524px;right:48px;transform:rotate(22deg)}.s-606{top:549px;right:48px;transform:rotate(22deg)}.s-607{top:575px;right:48px;transform:rotate(22deg)}.s-608{top:600px;right:55px;transform:rotate(22deg)}.s-609{top:625px;right:63px;transform:rotate(22deg)}.s-610{top:651px;right:70px;transform:rotate(22deg)}.s-611{top:297px;right:22px;transform:rotate(22deg)}.s-612{top:322px;right:22px;transform:rotate(22deg)}.s-613{top:347px;right:22px;transform:rotate(22deg)}.s-614{top:372px;right:22px;transform:rotate(22deg)}.s-615{top:398px;right:22px;transform:rotate(22deg)}.s-616{top:423px;right:22px;transform:rotate(22deg)}.s-617{top:448px;right:22px;transform:rotate(22deg)}.s-618{top:474px;right:22px;transform:rotate(22deg)}.s-619{top:499px;right:22px;transform:rotate(22deg)}.s-620{top:524px;right:22px;transform:rotate(22deg)}.s-621{top:549px;right:22px;transform:rotate(22deg)}.s-622{top:575px;right:22px;transform:rotate(22deg)}.s-623{top:600px;right:22px;transform:rotate(22deg)}.s-624{top:626px;right:22px;transform:rotate(22deg)}.s-625{top:651px;right:22px;transform:rotate(22deg)}.s-626{top:676px;right:22px;transform:rotate(22deg)}.s-627{top:701px;right:22px;transform:rotate(22deg)}.s-628{top:783px;right:177px;transform:rotate(22deg)}.s-629{top:808px;right:192px;transform:rotate(22deg)}.ss-1{top:34px;left:186px}.ss-2{top:34px;left:208px}.ss-3{top:34px;left:229px}.ss-4{top:34px;left:250px}.ss-5{top:34px;left:271px}.ss-6{top:34px;left:292px}.ss-7{top:34px;left:313px}.ss-8{left:334px;top:34px}.ss-9{left:355px;top:34px}.ss-10{top:34px;left:768px}.ss-11{top:34px;left:789px}.ss-12{top:34px;left:810px}.ss-13{top:34px;left:831px}.ss-14{top:34px;left:852px}.ss-15{top:34px;left:873px}.ss-16{top:34px;left:894px}.ss-17{top:34px;left:915px}.ss-18{top:34px;left:936px}.ss-19{top:62px;left:208px}.ss-20{top:62px;left:229px}.ss-21{top:62px;left:250px}.ss-22{top:62px;left:271px}.ss-23{top:62px;left:292px}.ss-24{top:62px;left:313px}.ss-25{top:62px;left:334px}.ss-26{top:62px;left:355px}.ss-27{top:62px;left:376px}.ss-28{top:62px;left:397px}.ss-29{top:62px;left:418px}.ss-30{top:62px;left:439px}.ss-31{top:62px;left:460px}.ss-32{top:62px;left:481px}.ss-33{top:62px;left:502px}.ss-34{top:62px;left:523px}.ss-35{top:62px;left:601px}.ss-36{top:62px;left:622px}.ss-37{top:62px;left:643px}.ss-38{top:62px;left:664px}.ss-39{top:62px;left:685px}.ss-40{top:62px;left:706px}.ss-41{top:62px;left:727px}.ss-42{top:62px;left:748px}.ss-43{top:62px;left:769px}.ss-44{top:62px;left:790px}.ss-45{top:62px;left:811px}.ss-46{top:62px;left:832px}.ss-47{top:62px;left:853px}.ss-48{top:62px;left:874px}.ss-49{top:653px;left:1089px;transform:rotate(66deg)}.ss-50{top:62px;left:916px}.ss-51{top:91px;left:186px}.ss-52{top:91px;left:207px}.ss-53{top:91px;left:228px}.ss-54{top:91px;left:249px}.ss-55{top:91px;left:270px}.ss-56{top:91px;left:291px}.ss-57{top:91px;left:312px}.ss-58{top:91px;left:333px}.ss-59{top:62px;left:895px}.ss-60{top:91px;left:354px}.ss-61{top:91px;left:375px}.ss-62{top:91px;left:396px}.ss-63{top:91px;left:417px}.ss-64{top:91px;left:438px}.ss-65{top:91px;left:459px}.ss-66{top:91px;left:480px}.ss-67{top:91px;left:501px}.ss-68{top:91px;left:622px}.ss-69{top:91px;left:643px}.ss-70{top:91px;left:664px}.ss-71{top:91px;left:685px}.ss-72{top:91px;left:706px}.ss-73{top:91px;left:727px}.ss-74{top:91px;left:748px}.ss-75{top:91px;left:769px}.ss-76{top:91px;left:790px}.ss-77{top:91px;left:811px}.ss-78{top:91px;left:832px}.ss-79{top:91px;left:853px}.ss-80{top:91px;left:874px}.ss-81{top:91px;left:895px}.ss-82{top:91px;left:916px}.ss-83{top:91px;left:937px}.ss-84{top:119px;left:207px}.ss-85{top:119px;left:228px}.ss-86{top:119px;left:249px}.ss-87{top:119px;left:270px}.ss-88{top:119px;left:291px}.ss-89{top:119px;left:312px}.ss-90{top:119px;left:333px}.ss-91{top:119px;left:354px}.ss-92{top:119px;left:375px}.ss-93{top:119px;left:396px}.ss-94{top:119px;left:417px}.ss-95{top:119px;left:438px}.ss-96{top:119px;left:459px}.ss-97{top:119px;left:480px}.ss-98{top:119px;left:501px}.ss-99{top:119px;left:522px}.ss-100{top:119px;left:601px}.ss-101{top:630px;left:1089px;transform:rotate(66deg)}.ss-102{top:119px;left:622px}.ss-103{top:119px;left:643px}.ss-104{top:119px;left:664px}.ss-105{top:119px;left:685px}.ss-106{top:119px;left:706px}.ss-107{top:119px;left:727px}.ss-108{top:119px;left:748px}.ss-109{top:119px;left:769px}.ss-110{top:119px;left:790px}.ss-111{top:119px;left:811px}.ss-112{top:119px;left:832px}.ss-113{top:119px;left:853px}.ss-114{top:119px;left:874px}.ss-115{top:119px;left:895px}.ss-116{top:119px;left:916px}.ss-117{top:149px;left:207px}.ss-118{top:607px;left:1089px;transform:rotate(66deg)}.ss-119{top:149px;left:228px}.ss-120{top:149px;left:249px}.ss-121{top:149px;left:270px}.ss-122{top:149px;left:291px}.ss-123{top:149px;left:312px}.ss-124{top:149px;left:333px}.ss-125{top:149px;left:354px}.ss-126{top:149px;left:375px}.ss-127{top:149px;left:396px}.ss-128{top:149px;left:417px}.ss-129{top:149px;left:438px}.ss-130{top:149px;left:459px}.ss-131{top:149px;left:480px}.ss-132{top:149px;left:501px}.ss-133{top:149px;left:622px}.ss-134{top:149px;left:643px}.ss-135{top:149px;left:664px}.ss-136{top:149px;left:685px}.ss-137{top:149px;left:706px}.ss-138{top:149px;left:727px}.ss-139{top:149px;left:748px}.ss-140{top:149px;left:769px}.ss-141{top:149px;left:790px}.ss-142{top:149px;left:811px}.ss-143{top:149px;left:832px}.ss-144{top:149px;left:853px}.ss-145{top:149px;left:874px}.ss-146{top:149px;left:895px}.ss-147{top:149px;left:916px}.ss-148{top:176px;left:227px}
.ss-149{top:176px;left:248px}.ss-150{top:176px;left:269px}.ss-151{top:176px;left:290px}.ss-152{top:176px;left:311px}.ss-153{top:176px;left:332px}.ss-154{top:176px;left:353px}.ss-155{top:176px;left:374px}.ss-156{top:176px;left:395px}.ss-157{top:176px;left:416px}.ss-158{top:176px;left:437px}.ss-159{top:176px;left:458px}.ss-160{top:176px;left:479px}.ss-161{top:176px;left:500px}.ss-162{top:176px;left:521px}.ss-163{top:176px;left:601px}.ss-164{top:176px;left:622px}.ss-165{top:176px;left:643px}.ss-166{top:176px;left:664px}.ss-167{top:176px;left:685px}.ss-168{top:176px;left:706px}.ss-169{top:176px;left:727px}.ss-170{top:176px;left:748px}.ss-171{top:176px;left:769px}.ss-172{top:176px;left:790px}.ss-173{top:176px;left:811px}.ss-174{top:176px;left:832px}.ss-175{top:176px;left:853px}.ss-176{top:176px;left:874px}.ss-177{top:176px;left:895px}.ss-178{top:285px;left:31px;transform:rotate(-66deg)}.ss-179{top:308px;left:31px;transform:rotate(-66deg)}.ss-180{top:331px;left:31px;transform:rotate(-66deg)}.ss-181{top:584px;left:1089px;transform:rotate(66deg)}.ss-182{top:354px;left:31px;transform:rotate(-66deg)}.ss-183{top:377px;left:31px;transform:rotate(-66deg)}.ss-184{top:400px;left:31px;transform:rotate(-66deg)}.ss-185{top:423px;left:31px;transform:rotate(-66deg)}.ss-186{top:446px;left:31px;transform:rotate(-66deg)}.ss-187{top:469px;left:31px;transform:rotate(-66deg)}.ss-188{top:492px;left:31px;transform:rotate(-66deg)}.ss-189{top:515px;left:31px;transform:rotate(-66deg)}.ss-190{top:538px;left:31px;transform:rotate(-66deg)}.ss-191{top:561px;left:31px;transform:rotate(-66deg)}.ss-192{top:584px;left:31px;transform:rotate(-66deg)}.ss-193{top:607px;left:31px;transform:rotate(-66deg)}.ss-194{top:630px;left:31px;transform:rotate(-66deg)}.ss-195{top:653px;left:31px;transform:rotate(-66deg)}.ss-196{top:285px;left:1089px;transform:rotate(66deg)}.ss-197{top:308px;left:1089px;transform:rotate(66deg)}.ss-198{top:331px;left:1089px;transform:rotate(66deg)}.ss-199{top:354px;left:1089px;transform:rotate(66deg)}.ss-200{top:377px;left:1089px;transform:rotate(66deg)}.ss-201{top:400px;left:1089px;transform:rotate(66deg)}.ss-202{top:423px;left:1089px;transform:rotate(66deg)}.ss-203{top:446px;left:1089px;transform:rotate(66deg)}.ss-204{top:469px;left:1089px;transform:rotate(66deg)}.ss-205{top:492px;left:1089px;transform:rotate(66deg)}.ss-206{top:515px;left:1089px;transform:rotate(66deg)}.ss-207{top:538px;left:1089px;transform:rotate(66deg)}.ss-208{top:561px;left:1089px;transform:rotate(66deg)}.ss-209{top:584px;left:1089px;transform:rotate(66deg)}.ss-210{top:607px;left:1089px;transform:rotate(66deg)}.ss-211{top:630px;left:1089px;transform:rotate(66deg)}.ss-212{top:653px;left:1089px;transform:rotate(66deg)}.ss-213{top:235px;left:374px}.ss-214{top:235px;left:395px}.ss-215{top:235px;left:416px}.ss-216{top:235px;left:437px}.ss-217{top:235px;left:458px}.ss-218{top:235px;left:479px}.ss-219{top:235px;left:500px}.ss-220{top:235px;left:622px}.ss-221{top:235px;left:643px}.ss-222{top:235px;left:664px}.ss-223{top:235px;left:685px}.ss-224{top:235px;left:706px}.ss-225{top:235px;left:727px}.ss-226{top:235px;left:748px}.ss-227{top:264px;left:205px}.ss-228{top:264px;left:226px}.ss-229{top:264px;left:247px}.ss-230{top:264px;left:268px}.ss-231{top:264px;left:289px}.ss-232{top:264px;left:310px}.ss-233{top:264px;left:372px}.ss-234{top:264px;left:393px}.ss-235{top:264px;left:414px}.ss-236{top:264px;left:435px}.ss-237{top:264px;left:456px}.ss-238{top:264px;left:477px}.ss-239{top:264px;left:498px}.ss-240{top:264px;left:519px}.ss-241{top:264px;left:601px}.ss-242{top:264px;left:622px}.ss-243{top:264px;left:643px}.ss-244{top:264px;left:664px}.ss-245{top:264px;left:685px}.ss-246{top:264px;left:706px}.ss-247{top:264px;left:727px}.ss-248{top:264px;left:748px}.ss-249{top:264px;left:811px}.ss-250{top:264px;left:832px}.ss-251{top:264px;left:853px}.ss-252{top:264px;left:874px}.ss-253{top:264px;left:895px}.ss-254{top:264px;left:916px}.ss-255{top:292px;left:228px}.ss-256{top:292px;left:249px}.ss-257{top:292px;left:270px}.ss-258{top:292px;left:291px}.ss-259{top:292px;left:312px}.ss-260{top:292px;left:333px}.ss-261{top:292px;left:354px}.ss-262{top:292px;left:375px}.ss-263{top:292px;left:396px}.ss-264{top:292px;left:417px}.ss-265{top:292px;left:438px}.ss-266{top:292px;left:459px}.ss-267{top:292px;left:480px}.ss-268{top:292px;left:501px}.ss-269{top:292px;left:622px}.ss-270{top:292px;left:643px}.ss-271{top:292px;left:664px}.ss-272{top:292px;left:685px}.ss-273{top:292px;left:706px}.ss-274{top:292px;left:727px}.ss-275{top:292px;left:748px}.ss-276{top:292px;left:769px}.ss-277{top:292px;left:790px}.ss-278{top:292px;left:811px}.ss-279{top:292px;left:832px}.ss-280{top:292px;left:853px}.ss-281{top:292px;left:874px}.ss-282{top:292px;left:895px}.ss-283{top:320px;left:249px}.ss-284{top:320px;left:270px}.ss-285{top:320px;left:291px}.ss-286{top:320px;left:312px}.ss-287{top:320px;left:333px}.ss-288{top:320px;left:354px}.ss-289{top:320px;left:375px}.ss-290{top:320px;left:396px}.ss-291{top:320px;left:417px}.ss-292{top:320px;left:438px}.ss-293{top:320px;left:459px}.ss-294{top:320px;left:480px}.ss-295{top:320px;left:501px}.ss-296{top:320px;left:522px}.ss-297{top:320px;left:601px}.ss-298{top:320px;left:622px}.ss-299{top:320px;left:643px}.ss-300{top:320px;left:664px}.ss-301{top:320px;left:685px}.ss-302{top:320px;left:706px}.ss-303{top:320px;left:727px}.ss-304{top:320px;left:748px}.ss-305{top:320px;left:769px}.ss-306{top:320px;left:790px}.ss-307{top:320px;left:811px}.ss-308{top:320px;left:832px}.ss-309{top:320px;left:853px}.ss-310{top:320px;left:874px}.ss-311{top:349px;left:228px}.ss-312{top:349px;left:249px}.ss-313{top:349px;left:270px}.ss-314{top:349px;left:291px}.ss-315{top:349px;left:312px}.ss-316{top:349px;left:333px}.ss-317{top:349px;left:354px}.ss-318{top:349px;left:375px}.ss-319{top:349px;left:396px}.ss-320{top:349px;left:417px}.ss-321{top:349px;left:438px}.ss-322{top:349px;left:459px}.ss-323{top:662px;left:916px}.ss-324{top:349px;left:480px}.ss-325{top:349px;left:501px}.ss-326{top:349px;left:622px}.ss-327{top:349px;left:643px}.ss-328{top:349px;left:664px}.ss-329{top:349px;left:685px}.ss-330{top:349px;left:706px}.ss-331{top:349px;left:727px}.ss-332{top:349px;left:748px}.ss-333{top:349px;left:769px}.ss-334{top:349px;left:790px}.ss-335{top:349px;left:811px}.ss-336{top:349px;left:832px}.ss-337{top:349px;left:853px}.ss-338{top:349px;left:874px}.ss-339{top:349px;left:895px}.ss-340{top:378px;left:207px}.ss-341{top:378px;left:228px}.ss-342{top:378px;left:249px}.ss-343{top:378px;left:270px}.ss-344{top:378px;left:291px}.ss-345{top:378px;left:312px}.ss-346{top:378px;left:333px}.ss-347{top:378px;left:354px}.ss-348{top:378px;left:375px}.ss-349{top:378px;left:396px}.ss-350{top:378px;left:417px}.ss-351{top:378px;left:438px}.ss-352{top:378px;left:459px}.ss-353{top:378px;left:480px}.ss-354{top:378px;left:501px}.ss-355{top:378px;left:522px}.ss-356{top:378px;left:601px}.ss-357{top:662px;left:895px}.ss-358{top:378px;left:622px}.ss-359{top:378px;left:643px}.ss-360{top:378px;left:664px}.ss-361{top:378px;left:685px}.ss-362{top:378px;left:706px}.ss-363{top:378px;left:727px}.ss-364{top:378px;left:748px}.ss-365{top:378px;left:769px}.ss-366{top:378px;left:790px}.ss-367{top:662px;left:832px}.ss-368{top:662px;left:853px}.ss-369{top:662px;left:874px}.ss-370{top:378px;left:811px}.ss-371{top:378px;left:832px}.ss-372{top:378px;left:853px}.ss-373{top:378px;left:874px}.ss-374{top:378px;left:895px}.ss-375{top:378px;left:916px}.ss-376{top:406px;left:186px}.ss-377{top:406px;left:207px}.ss-378{top:406px;left:228px}.ss-379{top:406px;left:249px}.ss-380{top:406px;left:270px}.ss-381{top:406px;left:291px}.ss-382{top:406px;left:312px}.ss-383{top:406px;left:333px}.ss-384{top:406px;left:354px}.ss-385{top:406px;left:375px}.ss-386{top:406px;left:396px}.ss-387{top:406px;left:417px}.ss-388{top:406px;left:438px}.ss-389{top:406px;left:459px}.ss-390{top:406px;left:480px}.ss-391{top:406px;left:501px}.ss-392{top:406px;left:622px}.ss-393{top:406px;left:643px}.ss-394{top:406px;left:664px}.ss-395{top:406px;left:685px}.ss-396{top:406px;left:706px}.ss-397{top:406px;left:727px}.ss-398{top:406px;left:748px}.ss-399{top:406px;left:769px}.ss-400{top:406px;left:790px}.ss-401{top:406px;left:811px}.ss-402{top:406px;left:832px}.ss-403{top:406px;left:853px}.ss-404{top:406px;left:874px}.ss-405{top:406px;left:895px}.ss-406{top:406px;left:916px}.ss-407{top:406px;left:937px}.ss-408{top:434px;left:207px}.ss-409{top:434px;left:228px}.ss-410{top:434px;left:249px}.ss-411{top:434px;left:270px}.ss-412{top:434px;left:291px}.ss-413{top:434px;left:312px}.ss-414{top:434px;left:333px}.ss-415{top:434px;left:354px}.ss-416{top:434px;left:375px}.ss-417{top:434px;left:396px}.ss-418{top:434px;left:417px}.ss-419{top:434px;left:438px}.ss-420{top:434px;left:459px}.ss-421{top:434px;left:480px}.ss-422{top:434px;left:501px}.ss-423{top:434px;left:522px}.ss-424{top:434px;left:601px}.ss-425{top:434px;left:622px}.ss-426{top:434px;left:643px}.ss-427{top:434px;left:664px}.ss-428{top:434px;left:685px}.ss-429{top:434px;left:706px}.ss-430{top:434px;left:727px}.ss-431{top:434px;left:748px}.ss-432{top:434px;left:769px}.ss-433{top:434px;left:790px}.ss-434{top:434px;left:811px}.ss-435{top:434px;left:832px}.ss-436{top:434px;left:853px}.ss-437{top:434px;left:874px}.ss-438{top:434px;left:895px}.ss-439{top:434px;left:916px}.ss-440{top:463px;left:186px}.ss-441{top:463px;left:207px}.ss-442{top:463px;left:228px}.ss-443{top:463px;left:249px}.ss-444{top:463px;left:270px}.ss-445{top:463px;left:291px}.ss-446{top:463px;left:312px}.ss-447{top:463px;left:333px}.ss-448{top:463px;left:354px}.ss-449{top:463px;left:375px}.ss-450{top:463px;left:396px}.ss-451{top:463px;left:417px}.ss-452{top:463px;left:438px}.ss-453{top:463px;left:459px}.ss-454{top:463px;left:480px}.ss-455{top:463px;left:501px}.ss-456{top:463px;left:622px}.ss-457{top:463px;left:643px}.ss-458{top:463px;left:664px}.ss-459{top:463px;left:685px}.ss-460{top:463px;left:706px}.ss-461{top:463px;left:727px}.ss-462{top:463px;left:748px}.ss-463{top:463px;left:769px}.ss-464{top:463px;left:790px}.ss-465{top:463px;left:811px}.ss-466{top:463px;left:832px}.ss-467{top:463px;left:853px}.ss-468{top:463px;left:874px}.ss-469{top:463px;left:895px}.ss-470{top:463px;left:916px}.ss-471{top:463px;left:937px}.ss-472{top:491px;left:207px}.ss-473{top:491px;left:228px}.ss-474{top:491px;left:249px}.ss-475{top:491px;left:270px}.ss-476{top:491px;left:291px}.ss-477{top:491px;left:312px}.ss-478{top:491px;left:333px}.ss-479{top:491px;left:354px}.ss-480{top:491px;left:375px}.ss-481{top:491px;left:396px}.ss-482{top:491px;left:417px}.ss-483{top:491px;left:438px}.ss-484{top:491px;left:459px}.ss-485{top:491px;left:480px}.ss-486{top:491px;left:501px}.ss-487{top:491px;left:522px}.ss-488{top:491px;left:601px}.ss-489{top:491px;left:622px}.ss-490{top:491px;left:643px}.ss-491{top:491px;left:664px}.ss-492{top:491px;left:685px}.ss-493{top:491px;left:706px}.ss-494{top:491px;left:727px}.ss-495{top:491px;left:748px}.ss-496{top:491px;left:769px}.ss-497{top:491px;left:790px}.ss-498{top:491px;left:811px}.ss-499{top:491px;left:832px}.ss-500{top:491px;left:853px}.ss-501{top:491px;left:874px}.ss-502{top:491px;left:895px}.ss-503{top:491px;left:916px}.ss-504{top:520px;left:186px}.ss-505{top:520px;left:207px}.ss-506{top:520px;left:228px}.ss-507{top:520px;left:249px}.ss-508{top:520px;left:270px}.ss-509{top:520px;left:291px}.ss-510{top:520px;left:312px}.ss-511{top:520px;left:333px}.ss-512{top:520px;left:354px}.ss-513{top:520px;left:375px}.ss-514{top:520px;left:396px}.ss-515{top:520px;left:417px}.ss-516{top:520px;left:438px}.ss-517{top:520px;left:459px}.ss-518{top:520px;left:480px}.ss-519{top:520px;left:501px}
.ss-520{top:520px;left:622px}.ss-521{top:520px;left:643px}.ss-522{top:520px;left:664px}.ss-523{top:520px;left:685px}.ss-524{top:520px;left:706px}.ss-525{top:520px;left:727px}.ss-526{top:520px;left:748px}.ss-527{top:520px;left:769px}.ss-528{top:520px;left:790px}.ss-529{top:520px;left:811px}.ss-530{top:520px;left:832px}.ss-531{top:520px;left:853px}.ss-532{top:520px;left:874px}.ss-533{top:520px;left:895px}.ss-534{top:520px;left:916px}.ss-535{top:520px;left:937px}.ss-536{top:548px;left:207px}.ss-537{top:548px;left:228px}.ss-538{top:548px;left:249px}.ss-539{top:548px;left:270px}.ss-540{top:548px;left:291px}.ss-541{top:548px;left:312px}.ss-542{top:548px;left:333px}.ss-543{top:548px;left:354px}.ss-544{top:548px;left:375px}.ss-545{top:548px;left:396px}.ss-546{top:548px;left:417px}.ss-547{top:548px;left:438px}.ss-548{top:548px;left:459px}.ss-549{top:548px;left:480px}.ss-550{top:548px;left:501px}.ss-551{top:548px;left:522px}.ss-552{top:548px;left:601px}.ss-553{top:548px;left:622px}.ss-554{top:548px;left:643px}.ss-555{top:548px;left:664px}.ss-556{top:548px;left:685px}.ss-557{top:548px;left:706px}.ss-558{top:548px;left:727px}.ss-559{top:548px;left:748px}.ss-560{top:548px;left:769px}.ss-561{top:548px;left:790px}.ss-562{top:548px;left:811px}.ss-563{top:548px;left:832px}.ss-564{top:548px;left:853px}.ss-565{top:548px;left:874px}.ss-566{top:548px;left:895px}.ss-567{top:548px;left:916px}.ss-568{top:577px;left:186px}.ss-569{top:577px;left:207px}.ss-570{top:577px;left:228px}.ss-571{top:577px;left:249px}.ss-572{top:577px;left:270px}.ss-573{top:577px;left:291px}.ss-574{top:577px;left:312px}.ss-575{top:577px;left:333px}.ss-576{top:577px;left:354px}.ss-577{top:577px;left:375px}.ss-578{top:577px;left:396px}.ss-579{top:577px;left:417px}.ss-580{top:577px;left:438px}.ss-581{top:577px;left:459px}.ss-582{top:577px;left:480px}.ss-583{top:577px;left:501px}.ss-584{top:577px;left:622px}.ss-585{top:577px;left:643px}.ss-586{top:577px;left:664px}.ss-587{top:577px;left:685px}.ss-588{top:577px;left:706px}.ss-589{top:577px;left:727px}.ss-590{top:577px;left:748px}.ss-591{top:577px;left:769px}.ss-592{top:577px;left:790px}.ss-593{top:577px;left:811px}.ss-594{top:577px;left:832px}.ss-595{top:577px;left:853px}.ss-596{top:577px;left:874px}.ss-597{top:577px;left:895px}.ss-598{top:577px;left:916px}.ss-599{top:577px;left:937px}.ss-600{top:605px;left:207px}.ss-601{top:605px;left:228px}.ss-602{top:605px;left:249px}.ss-603{top:605px;left:270px}.ss-604{top:605px;left:291px}.ss-605{top:605px;left:312px}.ss-606{top:605px;left:333px}.ss-607{top:605px;left:354px}.ss-608{top:605px;left:375px}.ss-609{top:605px;left:396px}.ss-610{top:605px;left:417px}.ss-611{top:605px;left:438px}.ss-612{top:605px;left:459px}.ss-613{top:605px;left:480px}.ss-614{top:605px;left:501px}.ss-615{top:605px;left:522px}.ss-616{top:605px;left:601px}.ss-617{top:605px;left:622px}.ss-618{top:605px;left:643px}.ss-619{top:605px;left:664px}.ss-620{top:605px;left:685px}.ss-621{top:605px;left:706px}.ss-622{top:605px;left:727px}.ss-623{top:605px;left:748px}.ss-624{top:605px;left:769px}.ss-625{top:605px;left:790px}.ss-626{top:605px;left:811px}.ss-627{top:605px;left:832px}.ss-628{top:605px;left:853px}.ss-629{top:605px;left:874px}.ss-630{top:605px;left:895px}.ss-631{top:605px;left:916px}.ss-632{top:633px;left:186px}.ss-633{top:633px;left:207px}.ss-634{top:633px;left:228px}.ss-635{top:633px;left:249px}.ss-636{top:633px;left:270px}.ss-637{top:633px;left:291px}.ss-638{top:633px;left:312px}.ss-639{top:633px;left:333px}.ss-640{top:633px;left:354px}.ss-641{top:633px;left:375px}.ss-642{top:633px;left:396px}.ss-643{top:633px;left:417px}.ss-644{top:633px;left:438px}.ss-645{top:633px;left:459px}.ss-646{top:633px;left:480px}.ss-647{top:633px;left:501px}.ss-648{top:633px;left:622px}.ss-649{top:633px;left:643px}.ss-650{top:633px;left:664px}.ss-651{top:633px;left:685px}.ss-652{top:633px;left:706px}.ss-653{top:633px;left:727px}.ss-654{top:633px;left:748px}.ss-655{top:633px;left:769px}.ss-656{top:633px;left:790px}.ss-657{top:633px;left:811px}.ss-658{top:633px;left:832px}.ss-659{top:633px;left:853px}.ss-660{top:633px;left:874px}.ss-661{top:633px;left:895px}.ss-662{top:633px;left:916px}.ss-663{top:633px;left:937px}.ss-664{top:662px;left:207px}.ss-665{top:662px;left:228px}.ss-666{top:662px;left:249px}.ss-667{top:662px;left:270px}.ss-678{top:662px;left:291px}.ss-679{top:662px;left:312px}.ss-680{top:662px;left:333px}.ss-681{top:662px;left:354px}.ss-682{top:662px;left:375px}.ss-683{top:662px;left:396px}.ss-684{top:662px;left:417px}.ss-685{top:662px;left:438px}.ss-686{top:662px;left:459px}.ss-687{top:662px;left:480px}.ss-688{top:662px;left:501px}.ss-689{top:662px;left:522px}.ss-690{top:662px;left:601px}.ss-691{top:662px;left:622px}.ss-692{top:662px;left:643px}.ss-693{top:662px;left:664px}.ss-694{top:662px;left:685px}.ss-695{top:662px;left:706px}.ss-696{top:662px;left:727px}.ss-697{top:662px;left:748px}.ss-698{top:662px;left:769px}.ss-699{top:662px;left:790px}.ss-700{top:662px;left:811px}.ss-701{top:662px;left:832px}.ss-702{top:662px;left:853px}.ss-703{top:662px;left:874px}.ss-704{top:662px;left:895px}.ss-705{top:662px;left:916px}.ss-706{top:377px;left:90px;transform:rotate(-66deg)}.ss-707{top:403px;left:90px;transform:rotate(-66deg)}.ss-708{top:428px;left:90px;transform:rotate(-66deg)}.ss-709{top:454px;left:90px;transform:rotate(-66deg)}.ss-710{top:480px;left:90px;transform:rotate(-66deg)}.ss-711{top:505px;left:90px;transform:rotate(-66deg)}.ss-712{top:532px;left:90px;transform:rotate(-66deg)}.ss-713{top:658px;left:90px;transform:rotate(-66deg)}.ss-714{top:393px;left:123px;transform:rotate(-66deg)}.ss-715{top:419px;left:123px;transform:rotate(-66deg)}.ss-716{top:445px;left:123px;transform:rotate(-66deg)}.ss-717{top:470px;left:123px;transform:rotate(-66deg)}.ss-718{top:496px;left:123px;transform:rotate(-66deg)}.ss-719{top:522px;left:123px;transform:rotate(-66deg)}.ss-720{top:548px;left:123px;transform:rotate(-66deg)}.ss-721{top:573px;left:123px;transform:rotate(-66deg)}.ss-722{top:599px;left:123px;transform:rotate(-66deg)}.ss-723{top:625px;left:123px;transform:rotate(-66deg)}.ss-724{top:650px;left:123px;transform:rotate(-66deg)}.ss-725{top:676px;left:123px;transform:rotate(-66deg)}.ss-726{top:701px;left:123px;transform:rotate(-66deg)}.ss-727{top:725px;left:123px;transform:rotate(-66deg)}.ss-728{top:822px;left:123px;transform:rotate(-66deg)}.ss-729{top:847px;left:123px;transform:rotate(-66deg)}.ss-730{top:873px;left:123px;transform:rotate(-66deg)}.ss-731{top:899px;left:123px;transform:rotate(-66deg)}.ss-732{top:378px;left:1030px;transform:rotate(66deg)}.ss-733{top:402px;left:1030px;transform:rotate(66deg)}.ss-734{top:428px;left:1030px;transform:rotate(66deg)}.ss-735{top:454px;left:1030px;transform:rotate(66deg)}.ss-736{top:479px;left:1030px;transform:rotate(66deg)}.ss-737{top:505px;left:1030px;transform:rotate(66deg)}.ss-738{top:531px;left:1030px;transform:rotate(66deg)}.ss-739{top:658px;left:1030px;transform:rotate(66deg)}.ss-740{top:394px;left:998px;transform:rotate(66deg)}.ss-741{top:419px;left:998px;transform:rotate(66deg)}.ss-742{top:444px;left:998px;transform:rotate(66deg)}.ss-743{top:470px;left:998px;transform:rotate(66deg)}.ss-744{top:496px;left:998px;transform:rotate(66deg)}.ss-745{top:522px;left:998px;transform:rotate(66deg)}.ss-746{top:547px;left:998px;transform:rotate(66deg)}.ss-747{top:573px;left:998px;transform:rotate(66deg)}.ss-748{top:599px;left:998px;transform:rotate(66deg)}.ss-749{top:624px;left:998px;transform:rotate(66deg)}.ss-750{top:650px;left:998px;transform:rotate(66deg)}.ss-751{top:676px;left:998px;transform:rotate(66deg)}.ss-752{top:701px;left:998px;transform:rotate(66deg)}.ss-753{top:726px;left:998px;transform:rotate(66deg)}.ss-754{top:822px;left:998px;transform:rotate(66deg)}.ss-755{top:848px;left:998px;transform:rotate(66deg)}.ss-756{top:873px;left:998px;transform:rotate(66deg)}.ss-757{top:899px;left:998px;transform:rotate(66deg)}.ss-758{top:951px;left:254px}.ss-759{top:951px;left:275px}.ss-760{top:951px;left:296px}.ss-761{top:951px;left:317px}.ss-762{top:951px;left:338px}.ss-763{top:951px;left:359px}.ss-764{top:951px;left:380px}.ss-765{top:951px;left:401px}.ss-766{top:951px;left:422px}.ss-767{top:951px;left:443px}.ss-768{top:951px;left:464px}.ss-769{top:951px;left:485px}.ss-770{top:951px;left:506px}.ss-771{top:951px;left:527px}.ss-772{top:951px;left:548px}.ss-773{top:951px;left:569px}.ss-774{top:951px;left:590px}.ss-775{top:951px;left:611px}.ss-776{top:951px;left:632px}.ss-777{top:951px;left:653px}.ss-778{top:951px;left:674px}.ss-779{top:951px;left:695px}.ss-780{top:951px;left:716px}.ss-781{top:951px;left:737px}.ss-782{top:951px;left:758px}.ss-783{top:951px;left:779px}.ss-784{top:951px;left:800px}.ss-785{top:951px;left:821px}.ss-786{top:951px;left:842px}.ss-787{top:980px;left:265px}.ss-788{top:980px;left:286px}.ss-789{top:980px;left:307px}.ss-790{top:980px;left:328px}.ss-791{top:980px;left:349px}.ss-792{top:980px;left:370px}.ss-793{top:980px;left:391px}.ss-794{top:980px;left:412px}.ss-795{top:980px;left:433px}.ss-796{top:980px;left:454px}.ss-797{top:980px;left:475px}.ss-798{top:980px;left:496px}.ss-799{top:980px;left:517px}.ss-800{top:980px;left:538px}.ss-801{top:980px;left:559px}.ss-802{top:980px;left:580px}.ss-803{top:980px;left:601px}.ss-804{top:980px;left:622px}.ss-805{top:980px;left:643px}.ss-806{top:980px;left:664px}.ss-807{top:980px;left:685px}.ss-808{top:980px;left:706px}.ss-809{top:980px;left:727px}.ss-810{top:980px;left:748px}.ss-811{top:980px;left:769px}.ss-812{top:980px;left:790px}.ss-813{top:980px;left:811px}.ss-814{top:980px;left:832px}.ss-815{top:1008px;left:194px}.ss-816{top:1008px;left:215px}.ss-817{top:1008px;left:236px}.ss-818{top:1008px;left:257px}.ss-819{top:1008px;left:278px}.ss-820{top:1008px;left:299px}.ss-821{top:1008px;left:320px}.ss-822{top:1008px;left:341px}.ss-823{top:1008px;left:362px}.ss-824{top:1008px;left:383px}.ss-825{top:1008px;left:404px}.ss-826{top:1008px;left:425px}.ss-827{top:1008px;left:446px}.ss-828{top:1008px;left:467px}.ss-829{top:1008px;left:629px}.ss-830{top:1008px;left:650px}.ss-831{top:1008px;left:671px}.ss-832{top:1008px;left:692px}.ss-833{top:1008px;left:713px}.ss-834{top:1008px;left:734px}.ss-835{top:1008px;left:755px}.ss-836{top:1008px;left:776px}.ss-837{top:1008px;left:797px}.ss-838{top:1008px;left:818px}.ss-839{top:1008px;left:839px}.ss-840{top:1008px;left:860px}.ss-841{top:1008px;left:881px}.ss-842{top:1008px;left:902px}.ss-843{top:1008px;left:923px}.ss-844{top:1008px;left:944px}.ss-845{top:1036px;left:183px}.ss-846{top:1036px;left:204px}.ss-847{top:1036px;left:225px}.ss-848{top:1036px;left:246px}.ss-849{top:1036px;left:267px}.ss-850{top:1036px;left:288px}.ss-851{top:1036px;left:309px}.ss-852{top:1036px;left:330px}.ss-853{top:1036px;left:351px}.ss-854{top:1036px;left:372px}.ss-855{top:1036px;left:393px}.ss-856{top:1036px;left:414px}.ss-857{top:1036px;left:435px}.ss-858{top:1036px;left:456px}.ss-859{top:1036px;left:477px}.ss-860{top:1036px;left:617px}.ss-861{top:1036px;left:638px}.ss-862{top:1036px;left:659px}.ss-863{top:1036px;left:680px}.ss-864{top:1036px;left:701px}.ss-865{top:1036px;left:722px}.ss-866{top:1036px;left:743px}.ss-867{top:1036px;left:764px}.ss-868{top:1036px;left:785px}.ss-869{top:1036px;left:806px}.ss-870{top:1036px;left:827px}.ss-871{top:1036px;left:848px}.ss-872{top:1036px;left:869px}.ss-873{top:1036px;left:890px}.ss-874{top:1036px;left:911px}.ss-875{top:1036px;left:932px}.ss-876{top:1036px;left:953px}.ss-877{top:980px;left:853px}.ss-878{top:951px;left:863px}.ss-879{top:980px;left:853px}

.book-seat .row:nth-child(3) .check-seat{
    background: #333333;
    padding:20px 0;
    display: inline-block;
    width: 100%;
}
.book-seat .row:nth-child(3) .check-seat .col-md-2:last-child{
    text-align: right;
}
.book-seat .row:nth-child(3) .check-seat .back-page{
        display: block;
    background: #585858;
    
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #b4b4b4;
    
}

.book-seat .row:nth-child(3) .check-seat .back-page a{
    color: white;
    padding: 30px;
}
.book-seat .row:nth-child(3) .check-seat .next-page{
    background: #b11500;   
    border: 2px solid #6d0606;
}
.book-seat .banner-show img{
    width: 100%;
    display: block;
}
.book-seat .col-md-4{
    border-right: 1px solid #b4b4b4;
    border-left:  1px solid #b4b4b4;
}
.book-seat .banner-show .title-show{
    color: white;
    font-size:11px;
    font-weight: 300;
    margin-bottom: 0px;
}