 body {
                width: 300px;
          font-size: 11px;
}

.footer .left{
	float:left;
	width:200px;
}

.footer .left .title_reg{
	font-weight:bold;
	text-align:center;
	
}

.footer .left .reg{
	font-weight:italic;
	text-align:center;
	
}

.footer .right{
	float:right;
	width:200px;
}

.footer .right .title_reg{
	font-weight:bold;
	text-align:center;
	
}

.footer .right .reg{
	font-weight:italic;
	text-align:center;
	
}

.sender{
	color:red;
}

.receiver{
	color:green;
}