/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2016, 4:12:49 PM
    Author     : tuana
*/

.modal .modal-header{
    border-bottom: 1px solid #e35b5a;
    background: #e35b5a;
    color: #FFF;
    padding: 5px 10px;
}
.modal .modal-header .close {
    margin-top: 7px !important;
}
.well{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
address {margin-bottom: 0px;}
.auto_div{
    position: absolute;
    border: 1px solid #c2cad8;
    top: 100%;
    left: 15px;
    max-height: 450px;
    overflow-y: auto;
    background: white;
}

.auto_div .auto_item:hover{
    background: #ccc;
}
.auto_div .auto_item{
    cursor: pointer;
    padding: 5px;
    float: left;
    width: 100%;
}
.auto_div .active{
    background: #ccc;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
    transition-timing-function: ease-in-out;
}
.auto_div .auto_item .auto_left{
    width: 25%;
    float: left;
}
.auto_div .auto_item .auto_left img{
    width: 100%
}
.auto_div .auto_item .auto_right {
    width: 75%;
    float: left;
    padding-left: 10px;
}
.auto_div .auto_item .auto_right .auto_title{
    font-size: 15px;
    float: left;
    margin-bottom: 5px;
}
.auto_div .auto_item .auto_right .auto_des{
    font-size: 11px;
    float: left;
    width: 100%;
}
.popover .popover-title{
    white-space: nowrap;
}
.popover-content {
    min-width: 143px;   
}
.portlet {
    margin-bottom: 5px;   
}
.form-group {
    margin-bottom: 5px;
}
.portlet.light .portlet-body{
    padding-top: 0px;
}
.page-header.navbar .page-logo input{
    margin-top: 5px;
    text-align: left !important;
    padding-left: 5px;
}
.page-header.navbar .page-logo .input-icon.input-icon-sm>i{
    margin-top: 6px;
    font-size: 16px;
    right: 5px;
}
.tabbable-custom.tabs-below .nav-tabs>li>a{
    color: #FFF;
}
.tabbable-custom.tabs-below .nav-tabs>li.active>a,.tabbable-custom.tabs-below .nav-tabs>li.active>a:hover{
    color: #000;
}
.page-header.navbar .page-logo{
    padding-left: 5px;
    padding-right: 5px;
    width: 450px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown{
    margin-top: 5px;
    padding: 0 2.5px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle{
    padding: 5px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    padding: 5px 0px 5px;
}
.page-header.navbar .top-menu .navbar-nav {
    margin-right: 5px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user {
    margin-left: 5px;
}
.page-header.navbar {
    height: 36px;
    min-height: 36px;
}
.page-header-fixed .page-container {
    margin-top: 36px;
}
.page-footer {
    padding: 0px 0px 0px;
    font-size: 13px;
    height: 24px;
}
.btn-sm {
    padding: 3px 10px; 
}
.page-content{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.table thead tr th {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 5px;
    padding-right: 5px;
}
.portlet.light {
    padding: 0px;
}
.nav>li>a {
    padding: 5px 0px;
}
.page-footer .nav-tabs>li>a{
    padding: 2.5px 10px;
}
.page-footer .tabbable-custom {
    margin-bottom: 0px;
}
.page-add-order{
    padding-top: 5px;
    float: left;
}
.table td, .table th {
    font-size: 13px;
}
.mt-checkbox-inline, .mt-radio-inline {
    padding: 5px;
    padding-top: 0px;
}
.mt-radio {
    margin-bottom: 5px;  
}
#order_detail div.product_image{
    float: left;
    width: 50px;
    margin-right: 5px;
}
#order_detail div.product_image img{

    width: 100%;
}
.mask_currency,.mask_number{
    text-align: right;
    font-weight: bold;
    color:  #29b4b6 ;
}
#order_detail tr>td{
    vertical-align: top;
}
.portlet.box>.portlet-title {
    border-bottom: 0;
    padding: 0 5px;
    margin-bottom: 0;
    color: #fff;
    min-height: 30px;
}
.portlet>.portlet-title>.caption {
    font-size: 15px;
    line-height: 15px;

}
.portlet.box>.portlet-title>.caption{
    padding: 8px 0 5px;
    text-transform: uppercase;
    font-size: 13px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
}
.input-group-sm>.input-group-btn>select.btn, .input-group-sm>select.form-control, .input-group-sm>select.input-group-addon, select.input-sm {
    height: 26px;
    line-height: 26px;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn, .input-sm {
    height: 26px;
    padding: 2.5px 5px;
    font-size: 12px;
}
.portlet.box>.portlet-body,.tabbable-custom>.tab-content {
    padding: 5px;
}
.tabbable-custom>.tab-content {
    border: 1px solid #ed6b75;
}
.nav-tabs-justified>.active>a, .nav-tabs-justified>.active>a:focus, .nav-tabs-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-left: 1px solid #ed6b75;
    border-right: 1px solid #ed6b75;
}
.tabbable-custom>.nav-tabs>li.active>a:hover{
    border-left: 1px solid #ed6b75;
    border-right: 1px solid #ed6b75;
}
.nav-tabs-justified>li>a, .nav-tabs.nav-justified>li>a{
    border-bottom: 1px solid #ed6b75;
}
.tabbable-custom>.nav-tabs>li>a{
    white-space: nowrap;
    font-size: 12px;
}
.mt-radio>span:after {
    left: 3px;
    top: 3px;
    height: 6px;
    width: 6px;
    border-radius: 100%!important;
    background: #888;
}
.mt-checkbox>span, .mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 0px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #E6E6E6;
}
.control-label,label{
    font-size: 12px;
    padding-left: 0px;
}
.mt-checkbox, .mt-radio{
    font-size: 12px;
    padding-left: 20px;
    margin-bottom: 0px;
}
.mt-radio-inline .mt-radio{
    margin-right: 5px;
    width: 45%;
}
.price_sale_lable{
    font-size: 10px;
    margin-top: -1px;
    position: relative;
    float: left;
    margin-bottom: -4px;
    color: red;
}
select option:checked{
    font-weight: bold;
    color: #29b4b6;
}
.select2-container--bootstrap.input-sm .select2-selection--single, .input-group-sm .select2-container--bootstrap .select2-selection--single, .form-group-sm .select2-container--bootstrap .select2-selection--single{
    font-size: 12px;
    height: 26px;
    line-height: 1.5;
    padding: 3px 20px 5px 5px;
}
.select2-container--bootstrap .select2-selection--single {
    height: 25px;
    line-height: 1.42857;
    padding: 3px 20px 5px 5px;
}
.select2-container--bootstrap .select2-selection{
    font-size: 12px;
}
input{
    text-align: right;
}

.auto_div::-webkit-scrollbar {
    width: 8px;
}
.auto_div::-webkit-scrollbar-button {
    background: #2d5f8b;
}
.auto_div::-webkit-scrollbar-track-piece {
    background: #2d5f8b;
}
.auto_div::-webkit-scrollbar-thumb {
    background: #e35b5a;
}